DATABASE_URL="postgresql://user:password@localhost:5432/db"
PORT=3333
JWT_SECRET=teste
NOTIFICATION_PROVIDER=console
FRONT_URL=http://localhost:5173
RESEND_API_KEY=re_...
MAIL_FROM="Nexus <onboarding@resend.dev>"